
@{
    ViewBag.Title = "RequestIndex";
}

@model List<giSelleRemastered.Models.Product>

<h2>Requests list</h2>

<p class="text-info">@ViewBag.Message</p>

<div>
    @foreach (var product in Model)
    {
        if (!product.Accepted)
        {
            <div class="card">
                <div class="card-body">
                    <img src="@Url.Content("~/Content/Images/Products/" + product.Image.Name + product.Image.Extension)" class="img-thumbnail float-right" style="max-width:250px; max-height:250px" />
                    <h3>@product.Name</h3>
                    <br />
                    <Strong>Categories :</Strong>
                    @foreach (var category in product.Categories)
                    {
                        <a href="/Category/Show/@category.Id">@category.Name |</a>
                    }
                    <br />
                    <strong>Price : <span class="text-success">@product.PriceInMu @product.Currency</span></strong>
                    <br />
                    @if (product.HasQuantity)
                    {
                        <strong class="text-info">In stock : @product.Quantity </strong>
                        <br />
                    }
                    <p>Artist: <strong>@product.User.UserName</strong></p>
                </div>
                <div class="card-footer">
                    <a class="btn btn-info" href="/Admin/RequestShow/@product.Id">Show</a>
                </div>
            </div>
        }
    }
</div>