<div class="card-body">
    <img src="@Url.Content("~/Content/Images/Products/" + Model.Image.Name + Model.Image.Extension)" alt="@Model.Name" class="img-thumbnail float-right" style="max-width:250px; max-height:250px" />
    <h3>@Model.Name</h3>
    <br />
    <p class="card-text">@Model.Description</p>
    <Strong>Categories :</Strong>
    @foreach (var category in Model.Categories)
    {
        <a href="/Category/Show/@category.Id">@category.Name |</a>
    }
    <br />
    <strong>Rating : <span style="color: #e5dc1c;">@Model.Rating / 5</span></strong>
    <br />
    <strong>Price : <span class="text-success">@Model.PriceInMu @Model.Currency</span></strong>
    <br />
    @if (Model.HasQuantity)
    {
        <strong class="text-info">In stock : @Model.Quantity </strong>
    }
    <br />
    <br />
    Artist : <strong>@Model.User.UserName</strong>
    <br />
</div>

