
@{
    ViewBag.Title = "Edit";
}

@model giSelleRemastered.Models.Product

<h2>Edit</h2>

<form method="post" action="/Product/Edit/@Model.Id">
    @Html.HttpMethodOverride(HttpVerbs.Put)

    @Html.Label("Name", "Name")
    <br />
    @Html.Editor("Name", new { htmlAttributes = new { @class = "form-control" } })
    <br />
    @Html.Label("Description", "Description")
    <br />
    @Html.Editor("Description", new { htmlAttributes = new { @class = "form-control" } })
    <br />
    @Html.Label("HasQuantity", "Has quantity")
    <br />
    @Html.Editor("HasQuantity", new { htmlAttributes = new { @class = "form-check-input" } })
    <br />
    @Html.Label("Quantity", "Quantity")
    <br />
    @Html.Editor("Quantity", new { htmlAttributes = new { @class = "form-control" } })
    <br />
    @Html.Label("PriceInMu", "Price")
    <br />
    @Html.Editor("PriceInMu", new { htmlAttributes = new { @class = "form-control" } })
    <br />
    @Html.Label("Currency", "Currency")
    <br />
    @Html.DropDownList("Currency", new SelectList(ViewBag.Currencies, "Value", "Text"), new { @class = "form-control" })
    <br />
    @Html.Label("Categories", "Categories")
    <br />
    @Html.ListBox("SelectedCategoryIds", new SelectList(ViewBag.Categories, "Value", "Text"), new { @class = "form-control" })
    <br />
    <button type="submit" class="btn btn-success">Save</button>
</form>