
@{
    ViewBag.Title = "Show";
}

@model giSelleRemastered.Models.Product

<br />
<div class="panel panel-default">
    <div class="panel-body">
        <h3>@Model.Name</h3>
        <img src="@Url.Content(Model.Image.Path.Replace(Request.ServerVariables["APPL_PHYSICAL_PATH"], "~/"))" alt="@Model.Name" class="img-responsive pull-right panel-image" />
        <br />
        <br />
        <p class="card-text">@Model.Description</p>
        <Strong>Categories :</Strong>
        @foreach (var category in Model.Categories)
        {
            <a href="/Category/Show/@category.Id">@category.Name |</a>
        }
        <br />
        <strong>Price : <span class="text-success">@Model.PriceInMu @Model.Currency</span></strong>
        <br />
        @if (Model.HasQuantity)
        {
            <strong class="text-info">In stock : @Model.Quantity </strong>
        }
        <br />
        Artist : <strong>@Model.User.UserName</strong>
        <br />
        <br />
    </div>
    @if (ViewBag.ShowButtons)
    {
        <div class="panel-footer">
            <form method="post" action="/Product/Delete/@Model.Id">
                @Html.HttpMethodOverride(HttpVerbs.Delete)
                @if (ViewBag.ShowButtons)
                {
                    <a class="btn btn-primary pull-left" href="/Product/Edit/@Model.Id">Edit</a>
                }
                <button type="submit" class="btn btn-danger pull-right">Delete</button>
            </form>
            <div class="clearfix" ></div>
        </div>
    }
</div>

<br />
<a href="~/Product/Index" class="btn btn-primary">Back to list</a>
